body{
	background-color: #02010a;
}
header {
	font-family: 'Dancing Script';
	margin: 10px;
	padding: 10px;
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;

}
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
#titulo h1 {
	 text-shadow: 2px 2px #02010a;
	 font-size: 30px;
}


@media (max-width:899.9px) {
	.container{
		margin: auto;
		}
	#titulo {
		width: 100%;
		text-align: center;
		}
	.c2 {
		width: 100%;
		text-align: center;
	}
	.c3, .c4, .c5 {
		padding: 5px;
		font-size: 20px;
	}
}
@media (min-width: 900px) {
	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;

	}
	#titulo {
		text-align: left;
		width: 65%;
		text-indent: 10px;
		}
	.c2 {
		margin-right: auto;
		text-align: right;
		width: 30%;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 20px;
		}
		.c3, .c4, .c5 {
		padding: 5px;

		}

}

header a:link, a:visited {
 text-decoration:none;
 color: inherit;
}


}
#imagen01 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

#imagen02 img{
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}

#imagen03 img{
	-webkit-filter: invert(100%); /* Chrome, Safari, Opera */
	filter: invert(100%);
}

#imagen04 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}
