body{
	background-color: #02010a;
}
header {
	font-family: 'Dancing Script';
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;

}
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
#titulo h1 {
	 text-shadow: 2px 2px #02010a;
	 font-size: 30px;
}


@media (max-width:900px) {
	.container{
		margin: auto;
		padding-bottom: 15px;
		}
	#titulo {
		width: 100%;
		text-align: center;
		}
	.c2 {
		width: 100%;
		text-align: center;
	}
	.c3, .c4, .c5 {
		padding: 5px;
		font-size: 20px;
	}
	#secundarias {
	 display: grid;
	 background-color: #d5c75f;
	 border: 1px;
 }
 .i1 {
   padding: 2vh;
    width: 90%;
   }

 .i2, .r4 {
 width: 60%;
 padding-left: 20%;
 padding-top: 5vh;
 padding-bottom: 5vh;
 display: grid;
 box-shadow: #82c3a6;
 border: 2px;
 }
 footer {
   width: 100%;
  }

}
@media (min-width: 900px) {
	.container {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
  #titulo {
    text-align: left;
    width: 65%;
    text-indent: 10px;
    }
	#central {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
  .i1 {
		padding: 2vh;
		}


	.c2 {
		margin-right: auto;
		text-align: right;
		width: 30%;
		margin-top: auto;
		margin-bottom: auto;
		font-size: 20px;
		}
		.c3, .c4, .c5 {
		padding: 5px;
	}

	#secundarias {
	 display: flex;
	 background-color: #d5c75f;
	 border: 1px;
 }
 .i2, .r4 {
	width: 70%;
	padding: 5vh 5vw;
 	margin-bottom: 1vh;
	display: flex;
	box-shadow: #82c3a6;
  border: 5px;
 }
  footer {
 		width: 900px;
 		margin-left: auto;
 		margin-right: auto;
 	}

  #footer ul {
    display: flex;
    width: 90%;
  }
  .columna1, .columna2, .columna3, .columna4 {
    padding-left: 2.5%;
    margin-right: auto;
    }
}

header a:link, a:visited {
 text-decoration:none;
 color: inherit;
}
footer a:link, a:visited {
 text-decoration:none;
 color: inherit;
}
#imagen01{
	background-color: #82c3a6;
	}

#imagen01 img{
	margin: auto;
	display: block;
}




.i2:hover {
	-ms-transform: rotate(10); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
	transform: rotate(10deg);
	transition-duration: 0.8s;
	}


	.r4:hover {
	-ms-transform: translate(5px,20px); /* IE 9 */
	-webkit-transform: transalate(5px,20px); /* Chrome, Safari, Opera */
	transform: translate(5px,20px);
	transition-duration: 0.8s;
}

#imagen04 img{
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}
#imagen08 img{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
footer{
  font-family: 'Dancing Script';
	background-color: #C6d5c5;
	border-bottom-left-radius: 10px;
	border-tbottom-right-radius: 10px;
	color: black;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
}

li, ul {
  list-style: none;
}
#footer {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.columna1, .columna2, .columna3, .columna4 {
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
}
